@font-face {
  font-family: 'OperatorMono-BookItalic';
  src: url(./fonts/OperatorMono-BookItalic.otf);
}
@font-face {
  font-family: 'OperatorMono-Book';
  src: url(./fonts/OperatorMono-Book.otf);
}
@font-face {
  font-family: 'OperatorMono-Medium';
  src: url(./fonts/OperatorMono-Medium.otf);
}
.pink {
  color: #B08CFF;
}
.yellow {
  color: #F9C76B;
}
.white {
  color: #FFF;
}
.green {
  color: #18F38C;
}

body {
  background-color: #111116;
}
#container {
  width: 850px;
  margin: auto;
}
p {
  font-family: 'OperatorMono-BookItalic';
  font-size: 24px;
  color: #65737D;
  letter-spacing: 0;
}
a {
  color: #FF0080;
  text-decoration: none;
}
section {
  width: 100%;
}
.code {
  font-family: 'OperatorMono-Book';
  font-size: 26px;
  color: #FFF !important;
  letter-spacing: 0;
}
.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-container a {
  margin-top: 50px;
  color: #FF0080;
  width: 360px;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* Resume: */
  font-family: 'OperatorMono-Medium';
  font-size: 24px;
}
.button-container img {
  margin-right: 20px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}
footer img {
  margin-right: 20px;
  width: 20px;
}
@media screen and (max-width: 850px) {
  #container {
    width: 100%;
  }
}

.say-hi {
  text-align: center;
  width: 100%;
  text-decoration: underline;
}